<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.boardMapper">
  <select id="AllBoard" resultType="dto.boardDTO">
    select * from
    (select
    row_number() over(order by b.bno desc) as rw, b.*
	from board_view b)
	where ceil(rw / #{pageContentEa}) = #{pageNo}
  </select>
  
  <select id="SelectBoardTotalCount" resultType="int">
	select count(*) from board_view
  </select>
  
  <select id="SelectBoardTotalCountByTitle" resultType="int">
	select count(*) from board_view where titles like #{query}
  </select>

  <select id="SearchBoardByTitle" resultType="dto.boardDTO">
  select * from (
    select row_number() over(order by bno desc) as rw,
           bno, titles, usersId, bdate, bview, blike
    from board_view
    where titles like #{query}
  )
  where ceil(rw / #{pageContentEa}) = #{pageNo}
</select>
  
  
  	<select id="selectBoardNo" resultType="int">
		select seq_board_bno.nextval from dual
	</select>
	
	<insert id="insertBoard">
	  insert into board(bno, usersid, titles, bpost)
	  values(#{bno}, #{usersId}, #{titles}, #{bpost})
	</insert>
  
  <update id="UpdateBoardCount">
  	  update board set bview = bview + 1
	  where bno = #{bno}
  </update>
  
  <select id="BoardView" resultType="dto.boardDTO">
	select * from board_view where bno = #{bno}
  </select>
  
  <select id="BoardCommentView" resultType="dto.boardCommentDTO">
  	<![CDATA[
  			select * from
			(select row_number() over(order by bcno desc) as rw, bc.* 
			from board_comment_view bc where bno = #{bno})
			where rw <= #{page} * 5 
		]]>
  </select>
  
  <insert id="InsertBoardLike">

  	insert into board_event(bno, usersid, blike, bhate) values(#{bno},#{usersid}, '1', '0')
  </insert>
  
  <delete id="DeleteBoardLike">
  	delete from board_event where bno = #{bno} and usersid = #{usersid} and blike = '1'

  </delete>
  
	<select id="SelectBoardLikeHateCount" resultType="map">
	    SELECT
	        NVL(SUM(CASE WHEN BLIKE = '1' THEN 1 ELSE 0 END), 0) AS BLIKE,
	        NVL(SUM(CASE WHEN BHATE = '1' THEN 1 ELSE 0 END), 0) AS BHATE
	    FROM BOARD_EVENT
	    WHERE BNO = #{bno}
	</select>

  	<select id="selectBoardTopList" resultType="dto.boardDTO">
  <![CDATA[
	SELECT *
	FROM (
	    SELECT
	        *
	    FROM
	        board_view
	    ORDER BY
	        bno DESC
	)
	WHERE ROWNUM <= #{i}
  ]]>
	</select>
  
	<insert id="BoardCommentInsert">
		insert into board_comment(bcno,bno,usersId, bcpost)
		values(seq_board_comment_bcno.nextval, #{bno},#{usersId},#{bcpost})
	</insert>
	

  <insert id="InsertBoardCommentLike">

  	insert into board_comment_event(bcno, bno ,usersid, bclike, bchate) values(#{bcno},#{bno},#{usersid}, '1', '0')
  </insert>
  
  <delete id="DeleteBoardCommentLike">
  	delete from board_comment_event where bcno = #{bcno} and usersid = #{usersid} and bclike = '1'

  </delete>
  
	<select id="SelectBoardCommentLikeHateCount" resultType="map">

	    SELECT
	        NVL(SUM(CASE WHEN BCLIKE = '1' THEN 1 ELSE 0 END), 0) AS CLIKE,
	        NVL(SUM(CASE WHEN BCHATE = '1' THEN 1 ELSE 0 END), 0) AS CHATE
	    FROM BOARD_COMMENT_EVENT
	    WHERE BCNO = #{bcno}
	</select>
	
	
	
	

	<delete id="DeleteBoardComment">
	delete from board_comment where bcno = #{bcno}
	</delete>
	
	<delete id="DeleteBoard">
	delete from board where bno = #{bno}
	</delete>

	<update id="BoardUpdate">
	update board
	set titles = #{titles}, bpost = #{bpost}
	where bno = #{bno}
	</update>
	
	<update id="UpdateBoardComment">
	update board_comment set bcpost = #{bcpost} where bcno = #{bcno}
</update>
</mapper>