<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.boardMapper">
  <select id="AllBoard" resultType="dto.boardDTO">
    select * from board
  </select>
  
  <insert id="WriteBoard">
  	insert * into board(bno,usersId,titles,bpost)
  	values(#{bno},#{usersId},#{titles},#{bpost})
  </insert>
</mapper>