<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.movieMapper">

	<select id="AllMovie" resultType="dto.movieDTO">
		select * from movie
	</select>

	<select id="selectMovieTopList" resultType="dto.movieDTO">
  <![CDATA[
	SELECT *
	FROM (
	    SELECT
	        movieid AS movieId,
	        wposter,
	        hposter,
	        moviename AS movieName,
	        descriptions,
	        openDt AS openDt,
	        repGenreNm AS repGenreNm,
	        GradeNm AS gradeNm,
	        popularity
	    FROM
	        movie
	    ORDER BY
	        popularity DESC
	)
	WHERE ROWNUM <= #{i}
  ]]>
	</select>

	<select id="searchMovie" resultType="dto.movieDTO">
		select * from movie where
		moviename like '%' || #{keyword} || '%'
	</select>

	<select id="movieInfo" resultType="dto.movieDTO">
		select * from movie where
		movieid = #{movieid}
	</select>

	<select id="movieCommentList" resultType="dto.movieCommentDTO">
		SELECT * FROM
		movie_comment
		WHERE movieid = #{movieid}
		ORDER BY mcno DESC
	</select>
	<insert id="movieCommentInsert" parameterType="dto.movieCommentDTO">
		INSERT INTO movie_comment (mcno, usersid, movieid, mpost, mdate, reports)
		VALUES (one_seq.NEXTVAL, #{usersid}, #{movieid}, #{mpost}, SYSDATE, 0)
	</insert>
</mapper>