<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.userMapper">
  <insert id="register" parameterType="dto.userDTO">
    INSERT INTO USERS (usersid, passwd, userName, nickname)
VALUES (#{usersid},standard_hash(#{passwd}, 'SHA512'), #{userName}, #{nickName})
  </insert>
  <select id="login" resultType="dto.userDTO">
  	select * from users where usersid = #{usersid} and passwd = standard_hash(#{passwd}, 'SHA512')
  </select>
  <select id="findID" resultType="dto.userDTO">
    select * from users where usersid = #{id}
  </select>
<select id="AllUser" resultType="dto.userDTO">
	SELECT usersid, passwd, username, nickname
	FROM users
</select>
<delete id="deleteUser">
	DELETE FROM users WHERE usersid = #{usersid}
</delete>
  <select id="searchId" resultType="dto.userDTO">
	select * from users where username =  #{username} and nickname = #{nickname}
  </select>

  <select id="searchPw" resultType="dto.userDTO">
	select * from users where usersid = #{id} and username =  #{username} and nickname = #{nickname}
  </select>

	<update id="userPwUpdate" parameterType="map">
	  UPDATE users
	  SET passwd = STANDARD_HASH(#{passwd}, 'SHA512')
	  WHERE usersid = #{usersid}
	</update>
	
    <update id="updateNickname" parameterType="dto.userDTO">
        UPDATE USERS
        SET nickname = #{nickName}
        WHERE usersid = #{usersid}
    </update>

    <select id="checkNickname" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM USERS WHERE nickname = #{nickname}
    </select>
    
</mapper>